.icon-foobar::before {
    content: "";
    display: inline-block;
    width: 8rem;
    height: 7rem;
    background: url("../images/foobar.svg") no-repeat center center;
}

.fa-8x {
    font-size: 0em !important; 
}

.icon-foos{
    width: 1.2rem;
    height: 0.9rem;
    background: url("../images/foobar_1.svg") no-repeat center center;

}